    * {
        box-sizing: border-box;
    }

    body{
        background-image: url("../images/fbc.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mcontainer{
        display: flex;
        gap: 10px;
    }

    main { 
    width: 100%; 
    padding: 20px;
    min-height: auto;
    flex: 0 0 55%; 
    background-color: rgba(255, 255, 255, 0.91);
    padding: 40px 20px 5px 20px;
    }

    main img{
        width: 100%;
        height: auto;
        max-width: 600px; 
        display: block;
    }
    .info{
        width: 100%; 
        margin: 0px 0px 0px 10px;
    }

    .info li { /* Descriptions of Horses */
        font-size: 22px;
        line-height: 1;
        letter-spacing: 1px;
    }   

    .info h1{ 
        font-size: 45px;
        margin: 55px 0px 0px 0px;
    }

    .info h2{
        text-align: left;
        font-size: 40px;
        margin: 0px;
    }

    .info h3{
        margin: 0px;
        font-size: 22px;
    }

    .info h4{
        font-size: 30px;
    }

    .info p{
        font-size: 20px;
        margin-right: 20px;      
    }

    .center h6{
        font-size: 32px;
        margin: 0px 0px 10px 0px;
    }

    .center{ /*center elements*/
        padding: 5px;
        text-align: center;
    }

    /* Specific Characters.html settings ---------------------------------------------------------------------------*/
    .button{ /*Change Color Button*/
        display: inline-block;
        width: 100%;
        max-width: 200px;
        padding: 7px;
        border: 2px ridge black;
        background-color: white;
    }

    #horse{ /*IRL Horse Link*/
        display: inline-block;
        text-decoration: underline;
        font-size: 14px;
        padding: 10px 0;
    }

    main p{
        font-size: 20px;
        text-align: center; 
        margin: 0;
        padding: 10px 0;
    }

    a{
        color: black;
    }

    .suzuka{
        background-color: rgb(155, 223, 164);
    }

    .suzukaquote{
        color:rgb(0, 148, 20);
    }

    .vega{
        background-color: rgb(213, 165, 102);
    }

    .rudolf{
        background-color: #f6ec94;
    }

    .mcqueen{
        background-color: rgb(83, 83, 83);
    }

    .mambo{
        background-color: rgb(49, 34, 7);
    }

    /* Tiles for characters.html  --------------------------------------------------------------------------- */
    .tiles{
    width: 100%;
    max-width: 250px;
    border: 2px solid black;
    background-color: rgba(225, 223, 223, 0.9);
    margin: 10px;
    display: flex;
    flex-direction: column;
    }

    .imgtiles{
    min-height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .tiles h3{
        text-align: center;
        font-size: 16px;
        margin: 6px 0;
        padding: 0;
        line-height: 1.2;
    }

    .tiles a{
        color:rgb(40, 40, 40);
        text-decoration: none;
    }

    .imgtiles img{
    width: 100%;
    height: auto; 
    object-fit: contain;
    display: block;
    }

    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        align-content: flex-start;  
        min-height: 50vh;
    }

    /* Background color of tiles --------------------------------------------------------------------------- */
    #suzuka img{
    background-color: #e18066;
    }

    #mcqueen img{
    background-color: #dccaee;
    }

    #rudolf img{
    background-color: #825f2a;
    }

    #vega img{
    background-color: #356ebd;
    }

    #mambo img{
    background-color: #bc8f88;
    }

@media (max-width: 600px) {
  div.container {
    padding: 10px;
  }

  .tiles {
    max-width: 180px;
  }

  div.tiles h3 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
    .mcontainer {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 100%;
        margin: 20px 0 0 0;
        order: 2;
        text-align: center;
    }

    .info h2{
        text-align: center; 
    }

    .info p{
        text-align: justify;
        padding-left: 15px;
    }

    .info li{
        text-align: left;
    }

    main {
        width: 100%;
        padding: 20px;
        order: 1;
    }

    main img {
        max-width: 100%;
        height: auto;
    }

    .center {
        text-align: center;
    }
}