    .mcontainer{
        background-image: url("../images/fbg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    main {
    width: 600px;
    min-height: 100vh;
    min-width: 50vh;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.91);
    padding: 5px 20px 5px 20px;
    border-left: 4px solid rgba(0, 0, 0, 0.092);
    border-right: 4px solid rgba(0, 0, 0, 0.092);
    }

    main h1{ /*Main Text*/
        color: #ff5500;
        font-size: 45px;
        text-align: center;
        margin: 0;
        text-shadow: 3px 3px 4px rgb(0, 0, 0);
    }

    main a{ /*Links*/
        text-decoration: none;
    }

    main h2{
        font-size: 20px;
        color: rgb(0, 101, 0);
        text-shadow: 0px 0px 0px;
    }