    html,body{
        font-family: "Alice", serif;
        margin: auto;
    }
    
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    header{ 
        background-color: rgb(230, 230, 230);
    }

    footer{
        background-color: rgb(230, 230, 230);
        margin-top: auto;
        text-align: center;
    }

    h2{ /* Qiu's Uma Musume Fanpage */
        color: #000000;
        font-size: 30px;
        text-align: center;
        margin: 0px;
        padding: 5px 0;
        text-shadow: 2px 2px 1px rgb(255, 255, 255);
    }

    q{ /* Eclipse First, The Rest Nowhere */
        display: block;
        color: #000000;
        font-size: 15px;
        padding: 0px 0px 5px 0px;
        text-align: center;
    }

    #foot{ /*All Rights Reserved*/
        color: #000000;
        font-size: 15px;
        padding: 10px 0;
    }

    /* DEFAULT FOR MAIN * ---------------------------------------------------------------------------*/
    img{ /* general settings for images */
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    video{ /* general settings for videos */
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    /* NAVIGATION BAR ---------------------------------------------------------------------------*/*/
    nav {
    margin-top: 10px;
    }

    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    } 

    nav a:hover{
    color: #9b3502;
    }

    nav ul li{ /*List inside navigation bar*/
    border: 2px solid black;
    display: block;   
    }

    nav a {
        text-decoration: none; 
        color: #000000;
        padding: 14px 15px;
    }