html{ /*General Settings*/
    font-family: "Alice", serif;
}

header{
background-color: rgb(230, 230, 230);
}

footer{
background-color: rgb(230, 230, 230);
}

body{
    margin: 0px auto;
    background-image: url("../images/chara.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body.media{
    background-image: url("../images/fbc.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body.index{
    background-image: url("../images/fbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body.fantasygacha{
    background-image: url("../images/fbf.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img{ /*Horse Image*/
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

video{
    display: block;
    margin: 0;
    max-width: 100%;
}

main { /*Box containing Horse Info*/
  width: 600px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.91);
  padding: 5px 20px 5px 20px;
  border-left: 4px solid rgba(0, 0, 0, 0.092);
  border-right: 4px solid rgba(0, 0, 0, 0.092);
}

main a{
    text-decoration: none;
}
main h2{
    font-size: 20px;
    color: rgb(0, 101, 0);
    text-shadow: 0px 0px 0px;
}

nav { /*Navigation Bar*/
  margin-top: 10px;
}

nav ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  
} 

nav ul li{ /*List inside navigation bar*/
  border: 2px solid black;
  display: block;   
  color:#000000;
}

nav a {
    text-decoration: none; 
    color: #000000;
    padding: 14px 15px;
}

nav a:visited{
    color: #000000;
}

.center{ /*Center these elements*/
    padding: 5px;
    text-align: center;
}

.button{ /*Change Color Button*/
    display: inline-block;
    padding: 7px 7px 7px 7px;
    border: 2px solid black;
    background-color: aliceblue;        
    color:#ff5500;
}

#foot{ /*All Rights Reserved*/
    color: #000000;
    font-size: 15px;
    padding: 10px 0;
}

#horse{ /*IRL Horse Link*/
    display: inline-block;
    font-size: 20px;
    padding: 5px 0;
}

h1{ /*Highlight of Main*/
    color: #ff5500;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 0px 0;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}

h2{ /* Header */
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
}

q{ /* Eclipse First, The Rest Nowhere */
    color: #000000;
    font-size: 15px;
    margin: 0;
}

li{ /* Descriptions of Horses */
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;
    color:#ff5500;
}   

p,h6{ /* Horse Monicker and Change Button */
    color:#ff5500;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.tiles{
width: 250px;
height: 250px;
border: 2px solid black;
background-color: rgba(225, 223, 223, 0.9);
margin: 10px;
}

.imgtiles{
    width: 250px;
    height: 210px;
}

div.tiles h3{
    text-align: center;
}

div.tiles a{
    color:rgb(40, 40, 40);
    text-decoration: none;
}

div.imgtiles img{
  width: 250px;
  height: 225px;
  display: block;
}

#suzuka img{
  background-color: #e18066;
}

#mcqueen img{
  background-color: #dccaee;
}

#rudolf img{
  background-color: #9e8156;
}

#vega img{
  background-color: #356ebd;
}

#mambo img{
  background-color: #bc8f88;
}

div.container{
    display: flex;
    justify-content: center;
    gap: 10px;  
}